#papertradedescription
{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 100px;
    letter-spacing: 1px;
}

.desccontent
{
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.blankspace30
{
    height: 30px;
}

.blankspace15
{
    height: 15px;
}

.boldcontent
{
    font-weight: bold;
}

.codedemo
{
    background-color: lightgray;
    font-family: monospace;
    border-radius: 10px;
    text-align: center; 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    line-height: 18px;
    padding: 10px 10px;
    word-break: break-all;
}

parameter
{
    color: blue;
}

.warningannouncement
{
    text-align: center;
    font-size: 20px;
    color: red;
    max-width: 750px;
    line-height: 30px;
    margin: auto auto;
}

.ClickToDownload
{
    text-align: center;
    font-size: 15px;
    color: royalblue;
    max-width: 750px;
    line-height: 30px;
    margin: auto auto;
}